.u-center-text {
  text-align: center;
}
.u-container {
  max-width: 85%;
  margin: 0 auto;
}

//Margin
.u-mb-big {
  margin-bottom: 8rem;
}
.u-mb-medium {
  margin-bottom: 4rem;
}
.u-mb-small {
  margin-bottom: 1.5rem;
}
